h1 {
    color: white;
}

.my-class {
    margin : 25px; 
  border: 15px solid pink;
  padding: 6px;
  background-color: green; 
}

.my-class2 {
  margin : 25px; 
  border: 15px solid pink;
  padding: 6px;
  background-color: green; 
}

/* ul {
    background: #3399ff;
    padding: 10px;
  }

ul li {
    border : 4px black;
} */

.column {
  width: 200px;
  width: 400px;
  float: right;
} 

@media screen and (max width: 500px) {
  .column {
    width: 250px;
    width: 750px;
    float: right;
  } 

}